<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand">Technical Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/newflowersorder" class="nav-link">Flowers</a>
                </li>
                <li class="nav-item">
                    <a href="/newcoffeorder" class="nav-link">Coffe</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Courier</a>
                </li>
            </ul>
        </div>
    </div>
</nav>