{% extends 'base.html.twig' %}

{% block title %}New Coffe Order{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/scripts.js"></script>
{% endblock %}